body {
	max-width: 1024px;
	margin: 10px ;
	background-color: #18191B;
	color: white;
	background-image: url(https://steamuserimages-a.akamaihd.net/ugc/963107882071950892/F5C6F71D54A20087B9EB2585BE3852651C33703C/?imw=512&amp;imh=254&amp;ima=fit&amp;impolicy=Letterbox&amp;imcolor=%23000000&amp;letterbox=true);	
	
}
